body {
    padding-bottom: 50px;
    padding-top: 50px;
}

footer {
    background-color: #375A7F;
    bottom: 0;
    color: #000000;
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
}

footer a.flink {
    color: #000000;
    text-decoration: none;
}

footer a.flink:hover {
    color: #000000;
}

footer table {
    height: 100%;
    table-layout: fixed;
    vertical-align: middle;
    width: 100%;
}

footer table tr td {
    padding: 5px;
}

footer table tr td:nth-child(2) {
    text-align: center;
}

footer table tr td:last-child {
    text-align: right;
}
